<h1>Maze Game -- Coming Soon...</h1>

<p>This website will soon hos the releases for the anticipated Maze Game.  This game will be available for Windows and Linux Desktops, but in the near future, we also hope to provide applications for android and/or apple products.  This popular game generates mazes of varying size and complexity for the user, who will use the keyboard arrows to navigate it.  This code project is on-going and even after initial release, future releases will be developed offering more advanced options and games that involve mazes.  Enjoy!</p>

<p>Email me with any more questions or advice you may have at HansEdward_Hoene@student.uml.edu</p>

<img src="pic1.png" width="50%"><br>
<img src="pic2.png" width="50%"><br>
<img src="pic3.png" width="50%"><br>
<img src="pic4.png" width="50%"><br>
<img src="pic5.png" width="50%"><br>
